body > * {
    display: block;
    margin: 1em auto;
}

img {
    width: 20em;
}

#log {
    /*use flexbox;*/
    max-width: 250px;
    height: 15em;
    overflow-y: auto;
}

#diceimg {
    margin-top: 3em;
    filter: brightness(1.25);
}


/* videos */

#video2 {
    background-color: black;    
    width: calc(50% - 2em);
    max-width: 480px;
    position: absolute;
    padding: 0 !important;

    margin: 1em;
    right: 0;
    bottom: 0;
}
